:root{
    /* La propiedades que yo le asigne a root, se aplicarán a todo
    el documento, en este caso HTML. 
    Voy a asiganr variables a los colores, para no aprendernos el codigo*/
        --bg--color:#1B1833; /*Asigné variables a los colores.
        El más oscuro es el background*/
        --primary-color:#AB4459;
        --secondary-color:#441752;
        --hg-color:#1B1833; /*El más claro es el highlight*/
        background-color:var(--bg--color);
        color: var(--hg-color); /*Color del texto*/
        /*Personalizo el alto y ancho de toda la pantalla.
          width: 100vw; view with
           height: 500vh; view height
          margin: 0;}*/}