:root{
  --bg-color:#000000;
  --primary-color:#1E3E62;
  --secondary-color:#0B192C;
  --hg-color:#A6AEBF;

  background-color: var(--bg-color);
  color: var(--hg-color);
}

div.container-fluid{
  background-color: var(--bg--color);
  color: white;
}
div.container{
  background-color: var(--bg--color);
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  }

div.card-body{
  background-color: var(--hg-color);
}

p.card-text{
  color: white;
}

h5.card-title{
  color: white;
}